.restaurant-card {
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.restaurant-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.rating {
    color: #f8ce0b;
} 